.icon-button {
    background-color: transparent;
    border-style: none;
}
.icon-button:hover{
    background-color: var(--color-foreground);
}

.icon-button:active{
    background-color: var(--color-foreground);
}

.icon-button:focus {
    border-style: solid;
}