.icon-button {
    background-color: transparent;
    border-style: none;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    -ms-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}
.icon-button:hover{
    background-color: var(--color-foreground);
}

.icon-button:active{
    background-color: var(--color-foreground);
}

.icon-button:focus {
    border-style: solid;
}