/*.prediction-card{
    position: absolute;
    display: flex;
    width: 20%;
    margin-left: 15%;
    margin-right: 65%;
    background-color: var(--color-background);
    border-radius: 8px;
    top: 50%
}*/

.prediction-card{
    display: flex;
    width: 100%;
    margin: 32px;
    background-color: var(--color-background);
    border-radius: 8px;
    overflow: hidden;
    height: 64px;
    align-items: center;
}


.prediction-card:hover{
    cursor: pointer;
}
/*
@media only screen and (max-width: 1000px) {
 .prediction-card{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
 }
}*/