.camera-feed{
  min-width: 100%;
  min-height: 100%;


}


.camera-feed-container{
    width: 98vw;
    height: 98vh;
    top: 1vh;
    left: 1vw;
    position: fixed;
    border-radius: 32px;
    overflow: hidden;
}
