
  .pie-chart-container {
    /*width: 59.2%;
    height: 74%;
    position: absolute;
    left: 18%;
    top: 13%;*/
    
    min-width: 12em;
    min-height: 12em;
  }
   .label {

    color: var(--color-text-secondary);
  }
   .dials {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    position: relative;
  }
  
  
   .dial-background {
    
    background: var(--color-foreground);
    
  }

  .dial-overlay{
    border-radius: 50%;
    height: 8em;
    width: 8em;
    position: absolute;
    overflow: hidden;
  }
  
  .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4em;
  }
 